# EditorConfig is awesome: http://EditorConfig.org
root = true

[*]
indent_size = 4
indent_style = space
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.txt]
insert_final_newline = false
trim_trailing_whitespace = false

[*.md]
trim_trailing_whitespace = false
